<div class="corporations">
  <% @results.each do |corporation| %>
    <%= link_to '/corporations/show' do %>
      <div class="corporation-colum">
        <div class="security-name">
          <%= corporation.security_name %>
        </div>
        <div class="security-code">
          <%= corporation.security_code %>
        </div>
      </div>
      <% end %>
        <% end %>
</div>