a {
  color: #000;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
}

/* ヘッダー画面 */
header {
  width: 100%;
  height: 70px;
  background-color: #969696;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 36px;
  font-weight: 600;
  padding-left: 30px;
}

a {
  color: #000;
  text-decoration: none;
}

.select-main {
  width: 600px;
  height: 400px;
  top: 75px;
  right: 20%;
  display: flex;
  visibility: hidden;
  font-size: 15px;
  color: #222;
  text-shadow: text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
                            -1px 1px 0 #FFF, 1px -1px 0 #FFF,
                            0px 1px 0 #FFF, 0-1px 0 #FFF,
                            -1px 0 0 #FFF, 1px 0 0 #FFF;
  position: absolute;
  border: solid 5px white;
  border-radius: 10px;
}

.select-main.is-hidden {
  visibility: visible;
}

/* 左画面 */
.select-main-left {
  width: 40%;
  /* height: 100%; */
  background-color: #888;
}

.select-year {
  width: 100%;
  height: 20%;
  background-color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  color: #ccc;
}

.select {
  height: 100%;
}

.market {
  height: 40%;
  background-color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}

.prime {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  font-size: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border: solid 1px black;
  border-radius: 10px;
}


.standard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  font-size: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border: solid 1px black;
  border-radius: 10px;
}

.growth {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  font-size: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border: solid 1px black;
  border-radius: 10px;
}


.type {
  height: 40%;
  background-color: #aaa;
}

/* 中央画面 */
.select-main-center {
  width: 30%;
  height: 100%;
  /* background-color: lightgreen; */
}

.bs {
  width: 100%;
  height: 50%;
  background-color: lightseagreen;
  display: flex;
  padding: 30px;
}

.bs-left {
  width: 50%;
  height: 100%;
  background-color: #666666;
  color: #fff;
}

.bs-right {
  width: 50%;
}

.liabilities {
  width: 100%;
  height: 50%;
  background-color: #999999;
}

.equity {
  width: 100%;
  height: 50%;
  background-color: #cccccc;
}

.cf {
  width: 100%;
  height: 50%;
  background-color: lightblue;
  padding: 30px;
}

.operating {
  width: 100%;
  height: 25%;
  background-color: lightcyan;
}

.investing {
  width: 100%;
  height: 25%;
  background-color: lightpink;
}

.financing {
  width: 100%;
  height: 25%;
  background-color: lightyellow;
}

.free {
  width: 100%;
  height: 25%;
  background-color: lightslategray;
  color: #fff;
}

/* 右画面 */
.select-main-right {
  width: 30%;
  height: 100%;
  /* background-color: lightblue; */
}

.pl {
  width: 100%;
  height: 50%;
  background-color: lightskyblue;
  display: flex;
  padding: 30px;
}

.uriagedaka {
  width: 16.66%;
  background-color: #222;
  color: #fff;
}

.uriagedaka-top {}

.uriagedaka-bottom {}

.sourieki {
  width: 16.66%;
  background-color: #444;
  color: #fff;
}

.sourieki-top {
  height: 16.66%;
  background-color: #fff;
}


.eigyo {
  width: 16.66%;
  background-color: #666;
  color: #fff;
}

.eigyo-top {
  height: 33.32%;
  background-color: #fff;
}

.keijo {
  width: 16.66%;
  background-color: #888;
}

.keijo-top {
  height: 49.98%;
  background-color: #fff;
}

.zeimae {
  width: 16.66%;
  background-color: #aaa;
}

.zeimae-top {
  height: 66.64%;
  background-color: #fff;
}

.jun {
  width: 16.66%;
  background-color: #ccc;
}

.jun-top {
  height: 83.3%;
  background-color: #fff;
}

/* その他 */

.other {
  width: 100%;
  height: 50%;
  background-color: lightblue;
  display: flex;
}

.other-left {
  width: 50%;
  height: 100%;
  /* background-color: mediumblue; */
}

.market-capitalization {
  height: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.employee {
  height: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.other-right {
  width: 50%;
  height: 100%;
}

.stock-price {
  height: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.other-item {
  height: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

/* 中央ブロック */
.wrapper {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  background-color: #555;
}

/* サイドバー */
.side-bar {
  width: 250px;
  height: 100%;
  background-color: #D8D8D8;
}

.show-page-button {
  width: 200px;
  height: 50px;
  font-size: 25px;
  background-color: white;
  border: solid 1px black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore {
  margin: 20px;
}

.search-field {
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 20px;
}

.search-button {
  width: 100px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
}

.company-group {
  width: 100%;
  margin: 20px;
}

.company-list {
  width: 80%;
  height: 50px;
  font-size: 15px;
  padding: 10px 20px 10px;
  border: 1px solid #fff;
  background-color: #969696;
  text-align: center;

}

/* メイン画面 */

.main {
  width: calc(100% - 250px);
  height: 100%;
}

.main-upper {
  width: 100%;
  height: 50px;
  padding: 20px;
  background-color: #333;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.main-upper-left {
  width: 100%;
}

.main-upper-right {
}

.search-option {
  width: 100px;
  padding: 10px;
  margin: 20px;
  border: 1px solid #000;
  font-size: 14px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.main-middle {
  width: 100%;
  height: calc(100% - 50px);
}

#corporation-graph {
  width: 100%;
  height: 100vh;
}

.bubbles {
  stroke-width: 2px;
  stroke: #555;
}

.bubbles:hover {
  stroke: #555;
}

/* フッター画面 */
footer {
  width: 100%;
  height: 10%;
  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #959393;
}

.copyright {
  font-size: 16px;
  margin-bottom: 3px;
}

/* 検索条件 */
.corporations {
  width: 100%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: scroll;
}

.corporation-colum {
  width: 200px;
  height: 50px;
  margin: 5px 10px;
  border: solid 1px black;
  border-radius: 10px;
  background-color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
}

.security-name {
  font-size: 20px;
  margin-bottom: 2px;
}

.security-code {
  font-size: 10px;
}

.return {
  width: 180px;
  height: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px black ;
  font-size: 20px;
  background-color: rgba(128, 64, 0, 0.5);
}

.sector_thirty_three_list {
  width: 100%;
  height: 60%;
  margin: 20px;
  font-size: 15px;
  overflow: scroll;
}

/* .sector_thirty_three_list {
  width: 100%;
  height: 100%;
  overflow: hidden;
} */

.show-main {
  width: 100vw;
  height: calc(100% - 70px);
  display: flex;
}

.show-main-left {
  width: 40%;
  /* height: 100%; */
  background-color: #888;
}

.show-corporation-information {
  width: 100%;
  height: 20%;
  background-color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.show-corporation-name a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  color: #222;
  padding: 10px;
  margin: 10px 30px 5px 30px;
  border: solid 1px black;
  border-radius: 5px;
  background-color: #aaa;
}

.show-security_code {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  color: #ccc;
}

.show-market {
  height: 40%;
  background-color: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.show-year {
  width: 50%;
  font-size: 20px;
  background-color: #aaa;
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.show-market-name {
  width: 50%;
  font-size: 20px;
  background-color: #aaa;
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.show-sector {
  width: 50%;
  font-size: 20px;
  background-color: #aaa;
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
}

.show-type {
  height: 40%;
  background-color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.show-address {
  width: 50%;
  font-size: 20px;
  background-color: #ccc;
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.show-closing-date {
  width: 50%;
  font-size: 20px;
  background-color: #ccc;
  border: solid 1px black;
  border-radius: 5px;
  padding: 10px;
}

/* 中央画面 */
.show-main-center {
  width: 30%;
  height: 100%;
  /* background-color: lightgreen; */
}

.show-bs {
  width: 100%;
  height: 50%;
  background-color: lightseagreen;
  display: flex;
  padding: 30px;
}

.show-cf {
  width: 100%;
  height: 50%;
  background-color: lightblue;
  padding: 30px;
}

/* 右画面 */
.show-main-right {
  width: 30%;
  height: 100%;
  /* background-color: lightblue; */
}

.show-pl {
  width: 100%;
  height: 50%;
  background-color: lightskyblue;
  display: flex;
  padding: 30px;
}

/* その他 */

.show-other {
  width: 100%;
  height: 50%;
  background-color: lightblue;
  display: flex;
}

.show-other-left {
  width: 50%;
  height: 100%;
}

.show-market-capitalization {
  height: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.show-employee {
  height: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.show-other-right {
  width: 50%;
  height: 100%;
}

.show-stock-price {
  height: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.show-other-item {
  height: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}